:host {
  position: relative;
  width: auto;
  display: inline-block;
}

.nakama_ring {
  border: 1px solid black;
  padding: 1rem;
  font-family: inherit;
  width: auto;
}

.nakama_ring--times {
  font-family: "Times New Roman", Times, serif;
}

.nakama_ring--comic {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.nakama_ring--small {
  width: 20rem;
}

.nakama_ring--medium {
  width: 24rem;
}

.nakama_ring--large {
  width: 28rem;
}

.nakama_ring--full {
  width: 100%;
}

.nakama_ring__default {
  display: flex;
  align-items: center;
}

.nakama_ring__image {
  width: 48px;
  height: 48px;
}

.nakama_ring__divider {
  width: 100%;
  height: 1px;
  background-color: black;
}

.nakama_ring__nav {
  text-align: center;
  margin: 1rem;
}

.nakama_ring__nav a::before {
  content: "[";
}

.nakama_ring__nav a::after {
  content: "]";
}

.nakama_ring__list {
  display: none;
  max-height: 100px;
  overflow-y: auto;
}

.nakama_ring__list--show {
  display: block;
}

.nakama_ring__list__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nakama_ring__list__item span {
  display: block;
  margin: 0.5rem 0;
}

.nakama_ring__button_link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
